# Configuration of the camera
camera:
{
    resolution = {
        width = 1920;
        height = 1080;
    };
    position = {
        x = 0.0;
        y = -100.0;
        z = 20.0;
    };
    rotation = {
        x = 0.0;
        y = 0.0;
        z = 0.0;
    };
    fieldOfView = 90.0; # In degree
    maxDepth = 10;
    samplesPerPixel = 10;
    pixelSampleScale = 0.1; # 1.0 / samples_per_pixel
};

# Primitives in the scene
primitives:
{
    # List of spheres
    spheres = (
        {
            position = {
                x = -0.707;
                y = 0.0;
                z = -1.0;
            };
            r = 0.707;
            color = {
                r = "0%";
                g = "0%";
                b = "100%";
            };
        },
        // left
        {
            position = {
                x = 0.707;
                y = 0.0;
                z = -1.0;
            };
            r = 0.707;
            color = {
                r = "100%";
                g = "0%";
                b = "0%";
            };
        },
    )
};

# Light configuration
lights:
{
    ambient = 0.4; # Multiplier of ambient light (la puissance de la lumière ambiante, une lumière qui est toujours là et est appliqué partout)
    #diffuse = 0.6; # Multiplier of diffuse light (la puissance de la lumière diffuse, donc la lumière qui vient d'une source de lumière)
    # List of point lights (les sources de lumière multi-directionnelles)
    point = (
        {
            position = {
                x = 400.0;
                y = 100.0;
                z = 500.0;
            };
            intensity = 0.8; # Multiplier of the light intensity (la puissance de la lumière)
        }
    );
    # List of directional lights (les sources de lumière unidirectionnelles)
    directional = (
        {
            position = {
                x = 0.0;
                y = 100.0;
                z = 0.0;
            };
            direction = {# comme la rotation
                x = 0.0;
                y = -1.0;
                z = 0.0;
            };
            intensity = 0.8; # Multiplier of the light intensity (la puissance de la lumière)
        }
    );
};