# Configuration of the camera
camera:
{
    resolution = {
        width = 1920;
        height = 1080;
    };
    position = {
        x = 0.0;
        y = -100.0;
        z = 20.0;
    };
    rotation = {
        x = 0.0;
        y = 0.0;
        z = 0.0;
    };
    fieldOfView = 72.0; # In degree
    defocusAngle = 0.6;
    focusDistance = 10.0;
    maxDepth = 10;
    samplesPerPixel = 10;
};

# Primitives in the scene
primitives:
{
    # List of spheres
    spheres = (
        {
            position = {
                x = 60.0;
                y = 5.0;
                z = 40.0;
            };
            r = 25.0;
            color = {
                r = 255;
                g = 64;
                b = 64;
            };
        },
        {
            position = {
                x = -40.0;
                y = 20.0;
                z = -10.0;
            };
            r = 35;
            color = {
                r = 64;
                g = 255;
                b = 64;
            };
        }
    );
    # List of planes
    planes = (
        {
            #position = { # x and z coordinates change nothing (x and z are infinite)
            #    y = -20.0;
            #};
            #rotation = {
            #    x = 0.0; # Rotation around x-axis (horizontal)
            #    y = 0.0; # Rotation around y-axis (vertical)
            #    z = 0.0; # Rotation around z-axis (useless)
            #};

            position = {
                x = -200.0;
                y = 0.0;
                z = 100.0;
            };

            direction = {
                xu = 400;
                yu = 0;
                zu = 0;
                xv = 0;
                yv = 0;
                zv = -400;
            };
            color = {
                texture = {
                    type = "image";
                    filename = "scenes/stars.jpg";
                };
            };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.4; # Multiplier of ambient light (la puissance de la lumière ambiante, une lumière qui est toujours là et est appliqué partout)
    #diffuse = 0.6; # Multiplier of diffuse light (la puissance de la lumière diffuse, donc la lumière qui vient d'une source de lumière)
    # List of point lights (les sources de lumière multi-directionnelles)
    #point = (
    #    {
    #        position = {
    #            x = 400.0;
    #            y = 100.0;
    #            z = 500.0;
    #        };
    #        intensity = 0.8; # Multiplier of the light intensity (la puissance de la lumière)
    #    }
    #);
    # List of directional lights (les sources de lumière unidirectionnelles)
    #directional = (
    #    {
    #        position = {
    #            x = 100.0;
    #            y = 100.0;
    #            z = 100.0;
    #        }
    #        direction = {
    #            x = 0.0;
    #            y = -1.0;
    #            z = 0.0;
    #        };
    #        intensity = 0.8; # Multiplier of the light intensity (la puissance de la lumière)
    #    }
    #);
};